
body {

background-image: url(img/bg_3.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
font-family: Arial;

}
/*#main{
	width:100%;
	margin:auto;
}
#header{
	text-align: center;
	height:100px;
	font-family: Odalisque Deco;
	font-size: 50px;

}
*/
#menu{
	background-color:rgba(0, 0, 0, 1.0) ;
	height:120px;
	width: 100%;
	font-family: Italic,	
}
/*
#content{
	background-color:rgba(0, 0, 0, 0.7) ;
	min-height:750;
	text-align: justify;
	padding: 30px;
	color: white;

}
*/
.p_menu {
	float: left;
	height: 100%;
	width: 300px;
	text-align: center;
}*/
p{
  font-size: 20pt;
}


.closing-button {
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closing-button span {
  font-family: 'Montserrat', sans-serif;
  position: relative; /* кнопки раздела: шрифт, позиция*/
  z-index: 5;
}
.closing-button:before, .closing-button:after {
  content: "";
  position: absolute;
  top: 0;   /* положение кнопки раздела*/
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button:before {
  transform: translateX(-100%);
  background: #02549E; /* промежуточный цвет кнопки раздела */
  transition: transform .3s cubic-bezier(.55, .055, .675, .19);
}
.closing-button:after {
    background: linear-gradient(#5400A3,#8F0907);
  transform: translateX(100%);  /* конеченый цвет кнопки разделов */
  transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
}
.closing-button:hover:before, .closing-button:hover:after {
  transform: translateX(0);
}





.btn-group button {
    background-color: #5f6779;
    border: 1px solid #5f6779;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    float: left;
}

.btn-group button:not(:last-child) {
    border-right: none;
}


.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group button:hover {
    background-color: #2f6779;
}

#podl{
width: 100%;
height: 100%;
background-color:rgba(0, 0, 0, 0.1) ;
color: white;
}