 .u-section-1 {
  min-height: 1926px;
}

.u-section-1 .u-shape-1 {
  height: 162px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 547px;
  background-image: none;
  min-height: 1074px;
  height: auto;
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 83px);
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  margin: 49px auto 0;
}

.u-section-1 .u-group-2 {
  width: 238px;
  min-height: 95px;
  height: auto;
  margin: 55px auto 0 8px;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 1px;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 0 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 9px auto 0 22px;
}

.u-section-1 .u-group-3 {
  width: 238px;
  min-height: 95px;
  height: auto;
  margin: -95px 9px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 8px auto 0 23px;
}

.u-section-1 .u-group-4 {
  width: 238px;
  min-height: 95px;
  height: auto;
  margin: 0 auto 0 8px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 28px auto 0 23px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 10px auto 0 23px;
}

.u-section-1 .u-group-5 {
  width: 239px;
  min-height: 95px;
  height: auto;
  margin: -95px 8px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 1px;
  padding-right: 1px;
}

.u-section-1 .u-text-8 {
  margin: 29px auto 0 18px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 9px auto 0 22px;
}

.u-section-1 .u-group-6 {
  width: 238px;
  min-height: 95px;
  height: auto;
  margin: 0 8px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 12px 1px;
}

.u-section-1 .u-text-10 {
  margin: 17px auto 0 18px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 9px auto 0 22px;
}

.u-section-1 .u-group-7 {
  width: 237px;
  min-height: 95px;
  height: auto;
  margin: -95px auto 0 11px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 9px auto 0 23px;
}

.u-section-1 .u-group-8 {
  width: 466px;
  min-height: 125px;
  height: auto;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  margin: 29px 7px 0 18px;
}

.u-section-1 .u-text-15 {
  font-weight: normal;
  margin: 9px 48px 0 18px;
}

.u-section-1 .u-group-9 {
  width: 466px;
  min-height: 125px;
  height: auto;
  margin: -6px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 1px;
  padding-right: 1px;
}

.u-section-1 .u-text-16 {
  margin: 29px 6px 0 17px;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  margin: 9px 47px 0 17px;
}

.u-section-1 .u-group-10 {
  width: 238px;
  min-height: 95px;
  height: auto;
  margin: -1px auto 0 13px;
}

.u-section-1 .u-container-layout-10 {
  padding: 12px 1px;
}

.u-section-1 .u-text-18 {
  margin: 17px auto 0 18px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 9px auto 0 18px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 70px auto 0;
  padding: 10px 183px 10px 181px;
}

.u-section-1 .u-text-20 {
  font-size: 1.875rem;
  margin: -1068px auto 0 calc(((100% - 1140px) / 2) + -88px);
}

.u-section-1 .u-group-11 {
  width: 540px;
  min-height: 907px;
  height: auto;
  margin: -31px calc(((100% - 1140px) / 2) + -99px) 60px auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-12 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 68px;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-21 {
  margin: 18px auto 0 20px;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: -22px 20px 3px auto;
}

.u-section-1 .u-blog-1 {
  width: 545px;
  margin: 15px -2px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 507px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 22px 7px;
}

.u-section-1 .u-group-13 {
  margin-top: 2px;
  margin-bottom: 0;
  background-image: none;
  min-height: 145px;
  height: auto;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-23 {
  margin: 20px auto 0 23px;
}

.u-section-1 .u-text-24 {
  margin: -21px 40px 0 auto;
}

.u-section-1 .u-text-25 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 22px 7px;
}

.u-section-1 .u-group-14 {
  margin-top: 2px;
  margin-bottom: 0;
  background-image: none;
  min-height: 145px;
  height: auto;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-26 {
  margin: 19px auto 0 23px;
}

.u-section-1 .u-text-27 {
  margin: -21px 40px 0 auto;
}

.u-section-1 .u-text-28 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 22px 7px;
}

.u-section-1 .u-group-15 {
  margin-top: 2px;
  margin-bottom: 0;
  background-image: none;
  min-height: 145px;
  height: auto;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-29 {
  margin: 20px auto 0 23px;
}

.u-section-1 .u-text-30 {
  margin: -21px 40px 0 auto;
}

.u-section-1 .u-text-31 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 540px;
  margin: 216px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 83px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-text-20 {
    margin-left: calc(((100% - 940px) / 2) + -88px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 940px) / 2) + -99px);
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-blog-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 83px);
  }

  .u-section-1 .u-text-20 {
    margin-left: calc(((100% - 720px) / 2) + -88px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 720px) / 2) + -99px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-left: calc(((100% - 540px) / 2) + -88px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 540px) / 2) + -99px);
  }

  .u-section-1 .u-blog-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-8 {
    width: 320px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: calc(((100% - 340px) / 2) + -88px);
  }

  .u-section-1 .u-group-11 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-blog-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}