<html>
	<head>
		<meta charset="utf-8">
		<title> home</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<div id="main">
			<div id="header">
				<h1>World of Tanks</h1>
			</div>


			<div id="menu">
				<div class="p_menu">
				<br><a href="#" class="closing-button"><span>Главная</span></a><br>

				</div>
				<div class="p_menu">
				<br><a href="page/page2.html" class="closing-button"><span>Сообщение</span></a><br>
				</div>
				<div class="p_menu">
				<br><a href="purchases.html" class="closing-button"><span>Покупки</span></a><br>
				</div>
				<div class="p_menu">
				<br><a href="sells.html" class="closing-button"><span>Продажи</span></a><br>
				</div>
				<div class="p_menu">
				<br><a href="" class="closing-button"><span>Финансы</span></a><br>
				</div>
				<div class="p_menu">
				<br><a href="/register" class="closing-button"><span>Профиль</span></a><br>
				</div>
			</div>
			<div id="content">
		
				<a href="#" class="button button1"><span>Аккаунты</span></a>
				<a href="#" class="button button1" tabindex="0"><span>Буст</span></a>
				<a href="#" class="button button1" tabindex="0"><span>Кланы</span></a>

				<a href="#" class="button button1" tabindex="0"><span>Фарм серебра</span></a>
	
		
				<a href="#" class="button button1" tabindex="0"><span>Бонус коды</span></a>
		
			
				<a href="#" class="button button1" tabindex="0"><span>Выполнение ЛБЗ</span></a>
	
		
				<a href="#" class="button button1" tabindex="0"><span>Прочее</span></a>
			
				<a href="#" class="button button1" tabindex="0"><span>Обучение</span></a>
				

		

			
		</div>
			<div>
				<span>{{ ad.short_desc }}</span>
				<span>{{ ad.full_desc }}</span>
				<span>{{ ad.type_ad }}</span>
				<span>{{ ad.type_bust }}</span>
				<span>{{ ad.type_LBZ }}</span>
				<span>{{ ad.server }}</span>
				<span>{{ ad.fights_count }}</span>
				<span>{{ ad.win_rait }}</span>
				<span>{{ ad.raiting }}</span>
				<span>{{ ad.wn8 }}</span>
				<span>{{ ad.count }}</span>
				<span>{{ ad.price }}</span>


			</div>

	</body>
</html>