<html>
<head>
    <meta charset="utf-8">
    <title> home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/1fbeffc.css">
    <link rel="stylesheet" type="text/css" href="../static/css/1753aa1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/3474654.css">
    <link rel="stylesheet" type="text/css" href="../static/css/b3592a7.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<div id="main">
    <div id="header">
        <h1>World of Tanks</h1>
    </div>


    <div id="menu">
        <div class="p_menu">
            <br><a href="#" class="closing-button"><span>Главная</span></a><br>

        </div>
        <div class="p_menu">
            <br><a href="page/page2.html" class="closing-button"><span>Сообщение</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="purchases.html" class="closing-button"><span>Покупки</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="sells.html" class="closing-button"><span>Продажи</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="" class="closing-button"><span>Финансы</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="/register" class="closing-button"><span>Вход</span></a><br>
        </div>
    </div>
    <div id="content">
        <div class="product-page product-page-with-chat">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="back-link">
                        <a href="https://funpay.com/lots/77/" class="js-back-link"><i
                                class="fa fa-chevron-left"></i><span class="inside">Аккаунты World of Tanks</span></a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-9">
                    <div class="page-content">
                        <h1 class="page-header page-header-no-hr page-header-params">Оформление заказа</h1>
                        <div class="param-list">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="param-item"><h5>Сервер</h5>
                                        <div class="text-bold">Европа (EU)</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="param-item"><h5>Количество боёв</h5>
                                        <div class="text-bold">6500</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="param-item"><h5>Процент побед</h5>
                                        <div class="text-bold">58</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="param-item"><h5>Личный рейтинг</h5>
                                        <div class="text-bold">8900</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="param-item"><h5>WN8</h5>
                                        <div class="text-bold">2900</div>
                                    </div>
                                </div>
                            </div>
                            <div class="param-item"><h5>Краткое описание</h5>
                                <div>⚡💜фиолетовый аккаунт за подробностями пишите в сообщение💜⚡</div>
                            </div>
                            <div class="param-item"><h5>Подробное описание</h5>
                                <div>Продаю аккаунты так как надоело играть<br>
                                    есть в наличии: 279р, об.260, ШПТК-ТВП 3 марки:
                                    Emill.II,ИС-3,Caernarvon,IS,T-34,S.Conqueror,E-75,AMX M4 51,Conqueror,T-10 много
                                    нашивок , эмблемы, декали и т.д.
                                </div>
                            </div>
                            <div class="chat-float-container">
                                <div class="js-chat-top"></div>
                                <div class="chat chat-float mb35 a-affix affix-top" data-name="users-3326985-3787820"
                                     data-user="3326985" data-offer="lot:15286449" data-seller="3787820"
                                     data-tag="bnyk9pcx">
                                    <div class="chat-header">
                                        <div class="media media-user online">
                                            <div class="media-left">
                                                <a href="https://funpay.com/users/3787820/"><img
                                                        src="https://s.funpay.com/s/avatar/tj/q0/tjq0zryo3mqsdgfa6xph.jpg"
                                                        alt="" width="50" class="img-circle"></a>
                                            </div>
                                            <div class="media-body">
                                                <div class="media-user-name"><a
                                                        href="https://funpay.com/users/3787820/">stylekraft</a></div>
                                                <div class="media-user-status">Онлайн</div>
                                            </div>
                                        </div>
                                        <div class="chat-header-controls">
                                            <a class="btn btn-info-icon btn-info-sm btn-gray chat-control"
                                               href="https://funpay.com/chat/?node=users-3326985-3787820"><i
                                                    class="far fa-clone icon"></i></a>
                                            <span class="notice-button-container chat-control" data-color="gray">
    <button type="button" class="btn btn-info-icon btn-info-sm btn-success chat-control">
        <i class="fa fa-check icon"></i>
        <span class="inside hidden-md hidden-xs">Включены<br>оповещения</span>
    </button>
</span> <a class="btn btn-info-icon btn-info-sm btn-gray chat-control"
           href="https://support.funpay.com/hc/ru/requests/new" target="_blank" title="Пожаловаться">
                                            <i class="fa fa-exclamation-triangle icon"></i>
                                        </a>
                                        </div>
                                    </div>


                                    <div class="chat-message-container">
                                        <div class="chat-message-list hidden" style="">
                                        </div>
                                        <div class="chat-empty">
                                            <div class="seller-promo">
                                                <div class="seller-promo-note">Напишите продавцу<br>перед оплатой</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-form">
                                        <form action="https://funpay.com/chat/message" method="post">
                                            <div class="chat-form-input">
                                                <div class="form-group" id="comments">
                                                    <textarea class="form-control" name="content" cols="30" rows="1"
                                                              placeholder="Написать..."></textarea>
                                                    <div class="hiddendiv"></div>
                                                </div>
                                            </div>
                                            <div class="chat-form-attach">
                                                <button type="button" class="btn btn-default chat-btn-image"
                                                        data-size-max="7340032" data-size-max-s="7 МБ">
                                                    <i class="fa fa-paperclip"></i></button>
                                            </div>
                                            <div class="chat-form-btn">
                                                <button type="submit" class="btn btn-gray btn-round"><i
                                                        class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form action="https://funpay.com/orders/new" method="post" class="mb40">
                                <input type="hidden" name="csrf_token" value="up7r3xhjsei23eup">
                                <input type="hidden" name="type" value="lot">
                                <input type="hidden" name="preview" value="1">
                                <input type="hidden" name="offer_id" value="15286449">

                                <div class="form-group">
                                    <label class="control-label payment-method">Способ оплаты<span></span></label>
                                    <div class="dropdown bootstrap-select form-control input-lg"><select
                                            class="form-control input-lg selectpicker" name="method"
                                            data-dropup-auto="false" data-balance-rub="0" data-balance-total-rub="0"
                                            data-balance-unit-rub="₽" data-balance-usd="0" data-balance-total-usd="0"
                                            data-balance-unit-usd="$" data-balance-eur="0" data-balance-total-eur="0"
                                            data-balance-unit-eur="€" tabindex="-98">
                                        <option value="0" class="hidden"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-title&quot;>Не выбран</span><span class=&quot;payment-value&quot;>от 77 907.74 ₽</span></span>">
                                            &nbsp;
                                        </option>
                                        <option value="7" data-cy="rub" data-unit="₽" data-show-discount="1"
                                                data-factors="76505.393297595,1.0288065843621,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-7&quot;></span><span class=&quot;payment-title&quot;>Банковская карта RU</span><span class=&quot;payment-value&quot;>78 709.26 ₽</span></span>">
                                            Банковская карта RU
                                        </option>
                                        <option value="36" data-cy="usd" data-unit="$" data-show-discount="1"
                                                data-factors="1150,1.0869565217391,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-36&quot;></span><span class=&quot;payment-title&quot;>PayPal</span><span class=&quot;payment-value&quot;>1250 $</span></span>">
                                            PayPal
                                        </option>
                                        <option value="9" data-cy="rub" data-unit="₽" data-show-discount="1"
                                                data-factors="76505.393297595,1.0288065843621,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-9&quot;></span><span class=&quot;payment-title&quot;>Apple Pay</span><span class=&quot;payment-value&quot;>78 709.26 ₽</span></span>">
                                            Apple Pay
                                        </option>
                                        <option value="1" data-cy="rub" data-unit="₽" data-show-discount="1"
                                                data-factors="76505.393297595,1.1111111111111,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-1&quot;></span><span class=&quot;payment-title&quot;>QIWI</span><span class=&quot;payment-value&quot;>85 006 ₽</span></span>">
                                            QIWI
                                        </option>
                                        <option value="4" data-cy="usd" data-unit="WMZ" data-show-discount="1"
                                                data-factors="1150,1.1764705882353,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-4&quot;></span><span class=&quot;payment-title&quot;>WebMoney WMZ</span><span class=&quot;payment-value&quot;>1352.95 WMZ</span></span>">
                                            WebMoney WMZ
                                        </option>
                                        <option value="21" data-cy="rub" data-unit="₽" data-show-discount="1"
                                                data-factors="76505.393297595,1.0183299389002,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-21&quot;></span><span class=&quot;payment-title&quot;>СБП (оплата по QR)</span><span class=&quot;payment-value&quot;>77 907.74 ₽</span></span>">
                                            СБП (оплата по QR)
                                        </option>
                                        <option value="31" data-cy="usd" data-unit="$" data-show-discount="1"
                                                data-factors="1150,1,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-31&quot;></span><span class=&quot;payment-title&quot;>Binance Pay</span><span class=&quot;payment-value&quot;>1150 $</span></span>">
                                            Binance Pay
                                        </option>
                                        <option value="30" data-cy="usd" data-unit="$" data-show-discount="1"
                                                data-factors="1150,13.142331449599,0.076090000287164"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-30&quot;></span><span class=&quot;payment-title&quot;>Litecoin</span><span class=&quot;payment-value&quot;>1150.01 $</span></span>">
                                            Litecoin
                                        </option>
                                        <option value="24" data-cy="usd" data-unit="$" data-show-discount="1"
                                                data-factors="1150,1,1"
                                                data-content="<span class=&quot;payment&quot;><span class=&quot;payment-logo payment-method-24&quot;></span><span class=&quot;payment-title&quot;>Криптовалюта</span><span class=&quot;payment-value&quot;>1150 $</span></span>">
                                            Криптовалюта
                                        </option>
                                    </select>
                                        <button type="button" class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown" role="button" title="">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div class="filter-option-inner-inner"><span class="payment"><span
                                                            class="payment-title">Не выбран</span><span
                                                            class="payment-value">от 77 907.74 ₽</span></span></div>
                                                </div>
                                            </div>
                                            <span class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" role="combobox">
                                            <div class="inner open" role="listbox" aria-expanded="false" tabindex="-1"
                                                 style="overflow-x: hidden;">
                                                <ul class="dropdown-menu inner " style="overflow-x: hidden;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="amount" value="1">
                                <div class="js-order-prices row row-20 row-inline flex-nowrap hidden">
                                    <div class="js-price-row col-sm-4 col-xs-6">
                                        <div class="param-item"><h5>С вашего баланса спишется&nbsp;<a
                                                href="https://support.funpay.com/hc/ru/articles/360015585313"
                                                target="_blank"><i class="fa fa-question-circle"></i></a></h5>
                                            <div class="text-bold"><span
                                                    class="text-xl js-balance-pay">0</span>&nbsp;<span
                                                    class="js-balance-unit"></span> из&nbsp;<span
                                                    class="js-balance-total">0</span>&nbsp;<span
                                                    class="js-balance-unit"></span></div>
                                        </div>
                                    </div>
                                    <div class="js-price-row hidden col-sm-4 col-xs-6">
                                        <div class="param-item"><h5 class="text-warning">Скидка за оплату
                                            с&nbsp;баланса</h5>
                                            <div class="text-bold text-warning"><span
                                                    class="text-xl js-discount"></span>&nbsp;<span
                                                    class="js-balance-unit"></span></div>
                                        </div>
                                    </div>
                                    <div class="js-price-row col-sm-4 col-xs-6">
                                        <div class="param-item"><h5 class="w100">Останется оплатить</h5>
                                            <div class="text-bold"><span
                                                    class="text-xl js-payment-sum">0</span>&nbsp;<span
                                                    class="js-payment-unit"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb10">
                                    <button type="submit" class="btn btn-primary btn-block">Купить</button>
                                    <p class="help-block">Продавец не сможет получить оплату до тех пор, пока вы не
                                        подтвердите выполнение им всех обязательств.</p>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>