<html>
<head>
    <meta charset="utf-8">
    <title> home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/1fbeffc.css">
    <link rel="stylesheet" type="text/css" href="../static/css/1753aa1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/3474654.css">
    <link rel="stylesheet" type="text/css" href="../static/css/b3592a7.css">
</head>
<body>
<div id="main">
    <div id="header">
        <h1>World of Tanks</h1>
    </div>


    <div id="menu">
        <div class="p_menu">
            <br><a href="#" class="closing-button"><span>Главная</span></a><br>

        </div>
        <div class="p_menu">
            <br><a href="page/page2.html" class="closing-button"><span>Сообщение</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="purchases.html" class="closing-button"><span>Покупки</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="sells.html" class="closing-button"><span>Продажи</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="" class="closing-button"><span>Финансы</span></a><br>
        </div>
        <div class="p_menu">
            <br><a href="/register" class="closing-button"><span>Вход</span></a><br>
        </div>
    </div>
    <div id="content">
        <div>
            <h1>Аккаунты World of Tanks</h1>
            <p>Предлагаем вам аккаунты World of Tanks напрямую от игроков по самой низкой цене в Рунете. Получите лучшие
                танки и достойную статистику без скучной прокачки и временных затрат! Все сделки на бирже FunPay
                защищены гарантом. Нашим пользователям разрешено продавать аккаунты, полученные только легальным
                путем.</p>

        </div>
        <div class="btn-group">
            <a href="415864">
                <button>Аккаунты</button>
            </a>
            <a href="#">
                <button>Буст</button>
                </span></a>
            <a href="#">
                <button>Кланы</button>
            </a>

            <a href="#">
                <button>Фарм серебра</button>
            </a>


            <a href="#">
                <button>Бонус коды</button>
            </a>


            <a href="#">
                <button>Выполнение ЛБЗ</button>
            </a>


            <a href="#">
                <button>Прочее</button>
            </a>

            <a href="#">
                <button>Обучение</button>
            </a>
            <br>

        </div>


        <br>
        <div id="podl">
            <div class="k-card space-x-2 p-1 px-4">
                <span>Название<span class="caret-wrapper"><i class="sort-caret ascending"></i><i
                        class="sort-caret descending"></i></span></span>
            <span>Цена<span class="caret-wrapper"><i
                    class="sort-caret ascending"></i><i class="sort-caret descending"></i></span></span>
            </div>
            {% for item in ad %}
            <div class="flex justify-between items-top md:flex-row flex-col k-card"><a
                    href="/offer/62ce6a457d0c7450ddc825d7" class="pr-4 block w-full">
                <div class="lot-title">{{ item.short_desc }}</div>
                <div class="lot-about flex flex-col mt-2 md:flex-row md:space-x-2">
                    <div>
                        Сервер: <b>{{ item.server }}</b></div>
                    <div>
                        Количество боев: <b>{{ item.fights_count }}</b></div>
                    <div>
                        WN8: <b>{{ item.wn8 }}</b></div>
                    <div>
                        Рейтинг WG: <b>{{ item.raiting }}</b></div>
                    <div>
                        Процент побед: <b>{{ item.win_rait }}</b></div> <!----> <!----></div>
            </a>
                <div class="mt-5 md:mt-0 flex flex-col justify-between md:items-end items-start">
                    <div class="flex flex-row-reverse md:flex-row">
                        <div class="flex flex-col gap-1 md:items-end items-start justify-center">
                            <div class="flex flex-row gap-2 items-center md:items-start justify-center"
                                 style="font-size: 16px; line-height: 16px;"><a href="/profile/625f07881858e077f3187294"
                                                                                class="k-a whitespace-nowrap">
                                {{ item.trader_id }}
                            </a> <!----></div> <!----></div>
                        </div>
                    <div class="whitespace-nowrap font-bold text-lg mt-3 flex flex-row items-center gap-1">
                        {{ item.price }}


                    </div>
                </div>
            </div>
            {% endfor %}

            <!--				<span>{{ ad.short_desc }}</span>-->
            <!--				<span>{{ ad.full_desc }}</span>-->
            <!--				<span>{{ ad.type_ad }}</span>-->
            <!--				<span>{{ ad.type_bust }}</span>-->
            <!--				<span>{{ ad.type_LBZ }}</span>-->
            <!--				<span>{{ ad.server }}</span>-->
            <!--				<span>{{ ad.fights_count }}</span>-->
            <!--				<span>{{ ad.win_rait }}</span>-->
            <!--				<span>{{ ad.raiting }}</span>-->
            <!--				<span>{{ ad.wn8 }}</span>-->
            <!--				<span>{{ ad.count }}</span>-->
            <!--				<span>{{ ad.price }}</span>-->

        </div>
    </div>
</div>
</body>
</html>