<html>
	<head>
		<meta charset="utf-8">
		<title> home</title>
		<link rel="stylesheet" type="text/css" href="../_static/css/style.css">
	</head>
	<body>
		<div id="main">
			<div id="header">
				<h1>World of Tanks</h1>
			</div>


			<div id="menu">
				<div class="p_menu">
				<a href="home.html" class="closing-button"><span>Главная</span></a>

				</div>
				<div class="p_menu">
				<a href="page/page2.html" class="closing-button"><span>Сообщение</span></a>
				</div>
				<div class="p_menu">
				<a href="purchases.html" class="closing-button"><span>Покупки</span></a>
				</div>
				<div class="p_menu">
				<a href="sells.html" class="closing-button"><span>Продажи</span></a>
				</div>
				<div class="p_menu">
				<a href="" class="closing-button"><span>Профиль</span></a>
				</div>
			</div>
			<div id="content">
		
			
		</div>


	</body>
</html>
<!--<span>{{ ad.short_desc }}</span>-->
            <!--				<span>{{ ad.full_desc }}</span>-->
            <!--				<span>{{ ad.type_ad }}</span>-->
            <!--				<span>{{ ad.type_bust }}</span>-->
            <!--				<span>{{ ad.type_LBZ }}</span>-->
            <!--				<span>{{ ad.server }}</span>-->
            <!--				<span>{{ ad.fights_count }}</span>-->
            <!--				<span>{{ ad.win_rait }}</span>-->
            <!--				<span>{{ ad.raiting }}</span>-->
            <!--				<span>{{ ad.wn8 }}</span>-->
            <!--				<span>{{ ad.count }}</span>-->
            <!--				<span>{{ ad.price }}</span>-->