<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        addEvent(window, 'load', windowLoad);

/* Кроссбраузерное добавление обработчика события */
function addEvent(obj, evType, fn){
 if (obj.addEventListener) {
  obj.addEventListener(evType, fn, false);
 } else if (obj.attachEvent) {
  obj.attachEvent('on' + evType, fn);
 }
}

/* Получаем родительскую форму для элемента */
function getParentForm(obj) {
 while ((obj = obj.parentNode)) {
  if (obj.nodeName == 'FORM') {
   break;
  }
 }
 return obj;
}

/* Ищем все submit-кнопки с классом link и заменяем их на ссылки */
function windowLoad() {
 var buttons = document.getElementsByTagName('input');
 for (var i = 0; i < buttons.length ; i++) {
  if (buttons[i].getAttribute('type') == 'submit' && buttons[i].className == 'link') {
   var link = document.createElement('a');
   link.appendChild(document.createTextNode(buttons[i].getAttribute('value')));
   link.setAttribute('href', '#');
   addEvent(link, 'click', linkClick);

   var parent = buttons[i].parentNode;
   parent.removeChild(buttons[i]);
   parent.appendChild(link);
  }
 }
}

/* Отправляем форму по нажатию на ссылку */
function linkClick(e) {
 var e = window.event || e;
 var target = e.target || e.srcElement;
 var parentForm = getParentForm(target);
 parentForm.submit();

 if (window.event) { e.returnValue = false; } else { e.preventDefault(); }
}

    </script>
</head>
<body>
<form action="/add">
<input type="text" name="a" />
<input type="submit" id="push-me" style="display:none" />
</form>

<label for="push-me">fake submit</label>
</body>
</html>