<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/nicepage1.css" media="screen">
  <link rel="stylesheet" href="../static/css/Сообщения1.css" media="screen">
    <title>Title</title>
   <body data-home-page="Сообщения.html" data-home-page-title="Сообщения" class="u-body u-xl-mode" data-lang="ru">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_60c2">
      <div class="u-clearfix u-sheet u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-blog-1">
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <a class="u-post-header-link" href="blog/пост-7.html"><!--blog_post_image-->
                  <img src="images/0fd3416c.jpeg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <a class="u-post-header-link" href="blog/пост-7.html"><!--blog_post_header_content-->Пост 7<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header--><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->выфв<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_metadata-->
                <div class="u-blog-control u-metadata u-metadata-1"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Fri Feb 10 2023<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date-->
                </div><!--/blog_post_metadata--><!--blog_post_readmore-->
                <a href="blog/пост-7.html" class="u-blog-control u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-none u-btn-1"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"Read More","defaultValue":"Читать дальше"}--><!--/options_json-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              </div>
            </div><!--/blog_post--><!--blog_post-->
            <div class="u-blog-post u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2">
                <a class="u-post-header-link" href="blog/пост-5.html"><!--blog_post_image-->
                  <img src="images/8ad73f3c.jpeg" alt="" class="u-blog-control u-image u-image-default u-image-2"><!--/blog_post_image-->
                </a><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-3">
                  <a class="u-post-header-link" href="blog/пост-5.html"><!--blog_post_header_content-->Заголовок 6-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header--><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text u-text-4"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_metadata-->
                <div class="u-blog-control u-metadata u-metadata-2"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Fri Feb 10 2023<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date-->
                </div><!--/blog_post_metadata--><!--blog_post_readmore-->
                <a href="blog/пост-5.html" class="u-blog-control u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-none u-btn-2"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"Read More","defaultValue":"Читать дальше"}--><!--/options_json-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              </div>
            </div><!--/blog_post--><!--blog_post-->
            <div class="u-blog-post u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_image-->
                  <img src="images/68f64b9d.jpeg" alt="" class="u-blog-control u-image u-image-default u-image-3"><!--/blog_post_image-->
                </a><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-5">
                  <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_header_content-->Заголовок 5-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header--><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text u-text-6"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_metadata-->
                <div class="u-blog-control u-metadata u-metadata-3"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Fri Feb 10 2023<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date-->
                </div><!--/blog_post_metadata--><!--blog_post_readmore-->
                <a href="blog/пост-4.html" class="u-blog-control u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-none u-btn-3"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"Read More","defaultValue":"Читать дальше"}--><!--/options_json-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              </div>
            </div><!--/blog_post-->
          </div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-90cd">
      <div class="u-expanded-width u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-border-6 u-border-grey-dark-1 u-container-style u-group u-radius-15 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h4 class="u-text u-text-default u-text-1">Оформление заказа</h4>
          <div class="u-container-style u-group u-shape-rectangle u-group-2">
            <div class="u-container-layout u-container-layout-2">
              <h5 class="u-text u-text-default u-text-2">Сервер:</h5>
              <h6 class="u-text u-text-default u-text-3">RU<span style="font-weight: 700;"></span>
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-3">
            <div class="u-container-layout u-container-layout-3">
              <h5 class="u-text u-text-default u-text-4">Количество боев:</h5>
              <h6 class="u-text u-text-default u-text-5">
                <span style="font-weight: 700;">500 </span>
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-4">
            <div class="u-container-layout u-container-layout-4">
              <h5 class="u-text u-text-default u-text-6">Процент побед:</h5>
              <h6 class="u-text u-text-default u-text-7">
                <span style="font-weight: 700;">57% </span>
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-5">
            <div class="u-container-layout u-container-layout-5">
              <h5 class="u-text u-text-default u-text-8">Личный рейтинг:</h5>
              <h6 class="u-text u-text-default u-text-9">7500</h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-6">
            <div class="u-container-layout u-container-layout-6">
              <h5 class="u-text u-text-default u-text-10">Тип ЛБЗ:</h5>
              <h6 class="u-text u-text-default u-text-11">2.0</h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-7">
            <div class="u-container-layout u-container-layout-7">
              <h5 class="u-text u-text-default u-text-12">WN8:</h5>
              <h6 class="u-text u-text-default u-text-13">
                <span style="font-weight: 700;">5000 </span>
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-8">
            <div class="u-container-layout u-container-layout-8">
              <h5 class="u-text u-text-14">Короткое описание:</h5>
              <h6 class="u-text u-text-15">
                <span style="font-weight: 700;">
                  <span style="font-weight: 400;"></span>
                </span>Продам свой с почтой и кланом. 3000 бон, рейтинг маленький давно не играл.<br>ПОДРОБНОЕ ОПИСАНИ
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-9">
            <div class="u-container-layout u-container-layout-9">
              <h5 class="u-text u-text-16">Подробное описание:</h5>
              <h6 class="u-text u-text-17">
                <span style="font-weight: 700;"></span>акк личный, любые гарантии+смотри мою репутацию. Идеальный вариант для игры в клане, укрепы, наступы, гк. Скрины::
              </h6>
            </div>
          </div>
          <div class="u-container-style u-group u-shape-rectangle u-group-10">
            <div class="u-container-layout u-container-layout-10">
              <h5 class="u-text u-text-default u-text-18">Цена:</h5>
              <h6 class="u-text u-text-default u-text-19">15000р</h6>
            </div>
          </div>
          <a href="https://nicepage.me" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Купить</a>
        </div>
      </div>
      <h1 class="u-align-center u-text u-text-default u-text-20">Назад</h1>
      <div class="u-container-style u-grey-10 u-group u-opacity u-opacity-80 u-group-11">
        <div class="u-container-layout u-container-layout-11">
          <div class="u-border-5 u-border-grey-dark-1 u-container-style u-expanded-width u-group u-radius-12 u-shape-round u-group-12">
            <div class="u-container-layout u-container-layout-12">
              <h5 class="u-text u-text-default u-text-21">Ник нейм пользователя</h5>
              <h5 class="u-text u-text-custom-color-1 u-text-default u-text-22">Онлайн</h5>
            </div>
          </div>
          <div class="u-container-style u-expanded-width u-grey-10 u-group u-group-13">
            <div class="u-container-layout">
              <div class="u-container-style u-expanded-width u-grey-10 u-group u-group-14">
                <div class="u-container-layout">
                  <div class="u-container-style u-expanded-width u-grey-10 u-group u-group-15">
                    <div class="u-container-layout">
                      <div class="u-container-style u-grey-10 u-group u-group-16">
                        <div class="u-container-layout">
                          <h4 class="u-text u-text-23">Ник пользователя1</h4>
                          <h6 class="u-text u-text-24">19:00</h6>
                          <div class="u-clearfix u-custom-html u-custom-html-1">
                            <style></style>
                            <p style="float: left">Привет, хочу купить у тебя аккаунт</p>
                          </div>
                          <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-align-center u-container-style u-grey-10 u-group u-group-17">
            <div class="u-container-layout">
              <div class="u-align-center u-container-style u-grey-10 u-group u-group-18">
                <div class="u-container-layout">
                  <h4 class="u-text u-text-25">Ник пользователя2</h4>
                  <h6 class="u-text u-text-26">19:00</h6>
                  <div class="u-clearfix u-custom-html u-custom-html-2">
                    <style></style>
                    <p>ок, хорошо оплати</p>
                  </div>
                  <div class="u-align-center u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="email">
              <div class="u-form-group u-form-name u-label-none">
                <label for="name-558c" class="u-form-control-hidden u-label"></label>
                <input type="text" placeholder="Написать…" id="name-558c" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
              </div>
              <div class="u-form-group u-form-submit u-label-none">
                <a href="#" class="u-btn u-btn-submit u-button-style">Отправить<br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
              <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="75cbb351cbea57a80ad94f151aaa93ee">
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-e169">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"></div>
    </section>



    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>.
    </section>

<style>.u-disable-duration * {transition-duration: 0s !important;}</style></body>
</body>
</html>